{% extends "products/base.html" %}
{% block title %}Login{%endblock%}
{% block content %}
    <div class="row align-items-center">
        <div class="col">
            <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type="submit" class="btn btn-primary ">Login</button></p>
            </form>

        </div>
    </div>
{% endblock %}