{% extends "products/base.html" %}
{% block title%}Registro{% endblock %}
{% block content %}
<div class="content">
    <div class="row">
        <form method="POST">
            <h2>Registro</h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Registrate</button>
            </form>

        </form>

    </div>
</div>
{% endblock %}