body > .container {
    background: rgba(136, 199, 180, 0.116);
    border-radius: 15px;
    margin-top: 75px;
    margin-bottom: 30px;

}
.bg-primary {
    background-color: aquamarine !important;
}

.footer {
  margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
#user{
    color: azure;
}
#signup, #login{
    padding-left: 10px;
    
}
input{
    margin-left: 15px;
}
#comentario{
    font-size: 11px;
    padding-top: 7px;
}
#footer{
    position: relative;
}
#jombi{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 20px

}
#logo-compu{
  width: 55px;

}
.div.dropdown.nav-item{
  margin:0;

}

#login-b {
    padding: 6px;
}
#signup-b{
    padding: 6px;
}

#dropdownMenuLink{
    padding: 4px;
}
#button_logout{
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
}
@media screen and (max_width:680px){
    #user{
        visibility: hidden;
    }
}