{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} CompuSurCommerce {%endblock%}</title>
    <link rel="shortcut icon" href="{% static "image/favicon.ico"%}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    

</head>
<body>

    <header>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navegation">
          <div class="container">

            <a class="navbar-brand" href="{% url "home" %}"><img src="{% static "image/Logo.png"%}" alt="Logo" id="logo-compu"></a>


              <ul class="nav justify-content-end">
                <li class="nav-item dropdown">
                  <div class="dropdown nav-item" >
                    <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                      Categorias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="{% url "product_category" query="Celulares" %}">Celulares</a>
                      <a class="dropdown-item" href="{% url "product_category" query="Computador" %}">Computadoras</a>
                      <a class="dropdown-item" href="{% url "product_category" query="gaming" %}">Gaming</a>


                    </div>
                  </div>
                </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a  class="btn btn-sm btn-primary nav-link" href="{% url "accounts:logout" %}" id="button_logout" style="margin-left:10px">Salir </a>
                    </li>
                    <li class="nav-item">
                        <span id="user" class="nav-link">Bienvenido {{request.user.username}}</span>

                    </li>
                    {% else %}
                  
                    <li class="nav-item" id="login">
                      <a class="nav-link btn btn-sm btn-success" href="{% url "accounts:login" %}" id="login-b">Ingresar</a>
                    </li>
                    <li class="nav-item" id="signup">
                        <a class="nav-link btn btn-sm btn-warning" href="{% url "accounts:signup" %}" id="signup-b">Registrase</a>
                    </li>
                  
                    {% endif %}
              </ul>
            </div>
          </nav>
    </header>
    <div class="jumbotron" id="jombi">
      {% block content %}
      {% endblock content %}
    </div>


    <footer class="footer" id="footer">
        <div class="container">
          <p class="m-0 text-center text-black">Copyright &copy; CompuSur {% now "Y" %}</p>

        </div>
    </footer>
</body>
</html>
